body {
	background-color: #faec93;
}
h1 {
	display: block;
	position: fixed;
	top:  0;
	left: 0;
	width = 100%
	z-index: 999;
	font-family:  sans-serif;
	font-size:  x-large;
	text-align: center;
	height: 30px;
	background-color: #f8e462;
}